* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



body {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: black;
}

/* header */
header {
    background-color: black;
    width: 100%;
    height: 50px;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

/***
nomeutente------nomeutente
user------ utente
microphone ---- mic
infoutente ---- infoutente



**/
header .bottone a {
    text-decoration: none;
    color: white;
}


.bottone {
    background-color: #4A4A4A;
    border-radius: 5px;
    padding: 5px 5px;
    margin: 5px;
}
/****main**/
.container {
    padding-top: 85px;
    padding-bottom: 15px;
    height: calc(100vh - 155px);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    overflow-y: auto;
}

.container .user {
    width: 160px;
    height: 100px;
    background-image: url(https://picsum.photos/160/100);
    background-size: cover;
    position: relative;
    margin: 5px 2px;
}

.container .user .infoutente {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 5px;
    background-color: rgba(140, 140, 140, 0.5);
    color: white;
    font-size: 9px;
    max-width: 80%;
}

.container .user .infoutente .nomeutente{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.container .user .infoutente .microphone {
    margin-right: 2px;
}
/******* FOOTER******/

.bottom-bar {
    bottom: 0;
    height: 55px;
    width: 100%;
    background-color: #272727;
    display: flex;
    justify-content: space-between;
}

.bottom-bar .barselezione {
    display: flex;
}

.bottom-bar .barselezione .bar-item {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 10px;
    align-items: center;
}

.bottom-bar .barselezione .bar-item .iconaitem {
    font-size: 17px;
}

.bottom-bar .barselezione .bar-item .descrizione {
    font-size: 9px;
    margin: 7px 0;
}

.bottom-bar .barselezione .bar-item .item-more {
    font-size: 8px;
    margin: 2px 15px;
}

.bottom-bar .barselezione #share-screen {
    margin-right: 15px;
}

.bottom-bar .barselezione #share-screen .iconaitem{
    color: #4BC800;
}

.bottom-bar .barselezione #finechiamata {
    color: #FF0000;
    background-color: #4A4A4A;
}